@model IEnumerable<Front_end.Models.ServiceViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider slider_bg_1 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="slider_text">
                        <h3> <br> <span>GẤU BẦU</span></h3>
                        <p> Địa Chỉ Chăm Sóc Thú Cưng Tiêu <br> Chuẩn Quốc Tế Và Tận Tâm Tại TP.HCM .</p>
                        <a href="contact.html" class="boxed-btn4">Liên Hệ Chúng Tôi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dog_thumb d-none d-lg-block">
            <img src="~/LayoutNormal/assets/img/banner/dog.png" alt="">
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- service_area_start  -->
<div class="service_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-7 col-md-10">
                <div class="section_title text-center mb-95">
                    <h3>DỊCH VỤ CHO THÚ CƯNG</h3>
                    <p>Chúng tôi chắc chắn sẽ đem lại dịch vụ tốt nhất cho thú cưng của bạn

                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach(var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                            <div class="service_icon">
                                <img src="~/LayoutNormal/assets/img/service/service_icon_1.png" alt="">
                            </div>
                        </div>
                        <div class="service_content text-center">
                            <h3>@item.ServiceName</h3>
                            <p>@string.Format("{0:#,0}", item.UnitPrice) VNĐ</p>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
<!-- service_area_end -->
<!-- pet_care_area_start  -->
<div class="pet_care_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="pet_thumb">
                    <img src="~/LayoutNormal/assets/img/about/pet_care.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <div class="pet_info">
                    <div class="section_title">
                        <h3>
                            <span>Nhận Biết </span> <br>
                            Tình Trạng Boss Cưng Của Bạn
                        </h3>
                        <p>
                            Chúng tôi cung cấp tất cả các dịch vụ hỗ trợ chẩn đoán, xét nghiệm, điều trị

                            nhằm mang lại thể trạng khỏe mạnh tốt nhất cho thú cưng của bạn
                        </p>
                        <a href="about.html" class="boxed-btn3">Giới Thiệu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pet_care_area_end  -->
<!-- adapt_area_start  -->
<div class="adapt_area">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="adapt_help">
                    <div class="section_title">
                        <h3>
                            <span>Thông Tin Về</span>
                            Gấu Bầu
                        </h3>
                        <p>Chúng tôi cung cấp cho bạn những bác sĩ có chuyên môn cao và số năm kinh nghiệm nhiều cùng với nhiều dịch vụ chất lượng nhất .</p>
                        <a href="contact.html" class="boxed-btn3">Liên Hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="adapt_about">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="single_adapt text-center">
                                <img src="~/LayoutNormal/assets/img/adapt_icon/1.png" alt="">
                                <div class="adapt_content">
                                    <h3 class="counter">3</h3>
                                    <p>Dịch Vụ</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single_adapt text-center">
                                <img src="~/LayoutNormal/assets/img/adapt_icon/3.png" alt="">
                                <div class="adapt_content">
                                    <h3><span class="counter">13</span></h3>
                                    <p>Năm Kinh Nghiệm</p>
                                </div>
                            </div>
                            <div class="single_adapt text-center">
                                <img src="~/LayoutNormal/assets/img/adapt_icon/2.png" alt="">
                                <div class="adapt_content">
                                    <h3><span class="counter">10</span></h3>
                                    <p>Bác Sĩ Và Y Tá Chuyên Môn Cao</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- adapt_area_end  -->
<!-- team_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-95">
                    <h3>Đội Ngũ</h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/LayoutNormal/assets/img/team/1.png" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            <h4>Huỳnh Nhật Huy</h4>
                            <p>Bác Sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/LayoutNormal/assets/img/team/2.png" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            <h4>Lê Quang Minh</h4>
                            <p>Bác Sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/LayoutNormal/assets/img/team/3.png" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            <h4>Hoàng Thị Lan</h4>
                            <p>Y Tá</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team_area_start  -->

<div class="contact_anipat anipat_bg_1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact_text text-center">
                    <div class="section_title text-center">
                        <h3>Tại Sao Lại Chọn Gấu Bầu?</h3>
                        <p>Bởi vì chúng tôi biết rằng ngay cả công nghệ tốt nhất cũng chỉ tốt khi có những người đứng đằng sau nó. Hỗ trợ kỹ thuật 24/7.</p>
                    </div>
                    <div class="contact_btn d-flex align-items-center justify-content-center">
                        <a href="contact.html" class="boxed-btn4">Liên Hệ</a>
                        <p>Or  <a href="#"> 0857160701</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

