@model Front_end.Models.MedicationViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">XÓA THUỐC</h1>


<div>
    <hr />
    <h3 class="mt-4" >Bạn có muốn xóa thuốc này ?</h3>
    
    <form asp-action="Delete">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Quay Lại</a>
    </form>
    
  
</div>
