@model Front_end.Models.MedicationViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">CHỈNH SỬA THÔNG TIN THUỐC</h1>


<hr />
<div class="row">
    <div class="col-lg">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicationId" class="control-label" hidden></label>
                <input asp-for="MedicationId" class="form-control" hidden/>
                <span asp-validation-for="MedicationId" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationName" class="control-label"></label>
                <input asp-for="MedicationName" class="form-control" />
                <span asp-validation-for="MedicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationDescription" class="control-label"></label>
                <input asp-for="MedicationDescription" class="form-control" />
                <span asp-validation-for="MedicationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Quay Lại</a>
            </div>
        </form>
    </div>
</div>



